<%- include('../partials/head', { title: '一覧'}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <% if (locals.isLoggedIn) { %>
      <a href="/articles/new" class="btn btn-new">新規登録</a>
    <% } %>
    <ul class="list">
      <% articles.forEach((article) => { %>
        <li>
          <h2><%= article.title %></h2>
          <% if (article.category) { %>
            <i>会員限定</i>
          <% } %>
          <p><%= article.user.name %></p>
          <p><%= article.summary %></p>
          <a href="/articles/show/<%= article.id %>">続きを読む</a>
        </li>
      <% }) %>
    </ul>
  </main>
<%- include('../partials/footer'); %>
