<%- include('partials/head', {title: title}); %>
  <header>
    <%- include('partials/header'); %>
  </header>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
<%- include('partials/footer'); %>
