<%- include('../partials/head', { title: '一覧'}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="article">
      <h2>記事：<%= title %></h2>
      <form action="<%= action %>" method="post">
        <p>タイトル</p>
        <p><%= articleTitle %></p>
        <input type="hidden" name="articleTitle" value="<%= articleTitle %>">
        <p>閲覧制限</p>
        <% if (categoryValue == 0) { %>
          <p>なし</p>
        <% } else { %>
          <p>会員限定</p>
        <% } %>
        <input type="hidden" name="categoryValue" value="<%= categoryValue %>">
        <p>概要</p>
        <p><%= articleSummary %></p>
        <input type="hidden" name="articleSummary" value="<%= articleSummary %>">
        <p>詳細</p>
        <p>
          <%= articleContent %>
        </p>
        <textarea style="display:none" name="articleContent"><%= articleContent %></textarea>
        <input type="button" class="btn-confirm" onclick="history.back()" value="戻る">
        <input type="submit" class="btn" value="登録">
      </form>
    </div>
  </main>
<%- include('../partials/footer'); %>
