<%- include('../partials/head', { title: '一覧'}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="article">
      <h2>記事：新規登録</h2>
      <% if (errors.length > 0) { %>
        <ul class="errors">
          <% errors.forEach((error) => { %>
            <li><%= error %></li>
          <% }) %>
        </ul>
      <% } %>
      <form action="/articles/confirm" method="post">
        <p>タイトル</p>
        <input type="text" name="articleTitle">
        <p>閲覧制限</p>
        <%- include('./category'); %>
        <p>概要</p>
        <input type="text" name="articleSummary">
        <p>詳細</p>
        <textarea name="articleContent"></textarea>
        <input type="submit" value="確認">
      </form>
    </div>
    <%- include('../partials/body'); %>
  </main>
<%- include('../partials/footer'); %>
